<div class="container">  
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="user_info">
        <div class="col-md-3 text-center">
          <img src="http://via.placeholder.com/120x120" id="avatar">
          <div id="user_name"><%= @user.name %></div>
        </div>

        <div class="col-md-9">
          <p><%= simple_format @user.intro %></p>
          <% if @user == current_user %>
            <button type="button" class="btn btn-default" id="edit_user">Edit</button>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>