<%= form_for [post, reply], { class: "my-form", remote: true } do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <%= hidden_field_tag(:flag, 1) %>
  
  <div class="form-group">
    <%= f.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>