<div class="container">

  <h2 class="text-center">管理後台</h2>

  <br><br>

  <div class="row">

    <div class="col-md-10 col-md-offset-1">
      <table class="table">
        <thead>
          <tr>
            <th>Replies Count</th>
            <th>Title</th>
            <th>Last replied at</th>
            <th>Viewed Count</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td class="text-center"><%= post.replies_count %></td>
              <td><%= post.title %></td>
              <td class="text-center"><%=  %></td>
              <td class="text-center">0</td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%= paginate @posts %>
      </div>

    </div>

  </div>
</div>
