<div class="container">

  <h2 class="text-center">管理後台</h2>

  <br><br> 

  <div class="row">

    <div class="col-md-10 col-md-offset-1">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><%= link_to "Category List", admin_categories_path %></li>
        <li role="presentation"><%= link_to "User List", admin_users_path %></li>        
      </ul>

      <br>

      <table class="table table-bordered">
        <thead>
          <tr class="active">
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td class="text-center">
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
