<div class="container">

  <h1>DojoForum</h1>

  <br><br>

  <div class="row">

    <div class="col-md-10 col-md-offset-1">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><%= link_to "All", root_path %></li>
        <% @categories.each do |category| %>
          <li role="presentation"><%= link_to category.name, category_path(category) %></li>
        <% end %>
      </ul>

      <br>

      <%= render partial: "shared/post_list" %>

    </div>

  </div>
</div>
